.delivery__dom {
    margin: 10vh 0;
    height: 70vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 5vw;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 50%;
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.delivery__dom h2 {
    width: 25.5vw;
    color: #fff;
    font-family:'Inter', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 5.5vw;
    border-bottom: 4px solid #CA6F1E;
}

.delivery-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 8vh;
}

.delivery__info {
    width: 23vw;
    height: 20vw;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delivery__info-p {
    margin: 1vh;
    font-size: 3vw;
    text-align: center;
}

.delivery__info-p:nth-child(2){
    color: #CA6F1E;
    font-weight: 600;
}

.delivery-container img {
    width: 35vw;
}