.info__dom {
    width: 30vw;
}

.info__nombre {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    width: 15vw;
    text-align: start;
    position: relative;
    z-index: 1;
    margin: 0;
}

.info__nombre::after{
    content: "";
    width: 110%;
    height: 3vh;
    background: #CA6F1E;
    position: absolute;
    bottom: -1vh;
    left: 0;
    z-index: -1;
}

.info__desc {
    color: #B0B0B0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: .8vw;
    margin-left: 1.5vw;
}

@media screen and (max-width: 1200px) {
    .info__dom{
        width: 35vw;
        margin: 1vh 0;
    }

    .info__nombre{
        font-size: 1.5vh;
        width: 25vw;
    }

    .info__nombre::after{
        height: .5vh;
        bottom: -.5vh;
    }

    .info__desc{
        font-size: .9vh;
    }
}

@media screen and (min-width:700px) and (max-width:1200px) {

    .info__nombre{
        font-size: 1.5vw;
    }
    
    .info__desc{
        font-size: .9vw;
    }
}
