.slider__dom {
    margin-top: 5vh;
    height: 78vh;
    width: 100vw;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
}

.arrow {
    background: none;
    color: #fff;
    border: none;
    font-size: 5vw;
    position: relative;
    cursor: pointer;
    z-index: 100;
    top: 50vh;
}

.no {
    visibility: hidden;
}

.next {
    left: 88vw;
}

.slider-container {
    width: 100vw;
    height: 70vh;
}

.slider-container ul{
    display: flex;
    padding: 0;
    width: 900vw;
}

.slider-container li {
    list-style: none;
    width: 100vw;
    display: flex;
}

@media screen and (max-width: 700px) {

    .arrow {
        top: 40vh;
        font-size: 4vh;
    }

    .next {
        left: 80vw;
    }

    .slider__dom, .slider-container {
        height: 55vh;
    }
}

@media screen and (min-width:700px) and (max-width:1200px){

    .arrow {
        top: 45vh;
        font-size: 4.5vw;
    }

    .slider__dom, .slider-container {
        height: 55vw;
    }
}