.slider__dom {
    margin-top: 5vh;
    height: 78vh;
    width: 100vw;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
}


.arrow-container{
    margin-left: auto;
    margin-right: auto;
}
.arrow {
    background: none;
    color: #fff;
    border: none;
    font-size: 5vw;
    position: relative;
    top: 50vh;
    cursor: pointer;
    z-index: 100;
}

.no {
    visibility: hidden;
}

.prev {
    right: 43vw;
}

.next {
    left: 43vw;
}

.slider-container {
    width: 100vw;
    height: 70vh;
}

.slider-container ul{
    display: flex;
    padding: 0;
    width: 900vw;
}

.slider-container li {
    list-style: none;
    width: 100vw;
    display: flex;
}

@media screen and (max-width: 700px) {

    .arrow-container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto 0 6vw;
        width: 10vw;
        margin-top: 5vh;
        position: relative;
    }

    .arrow {
        position: initial;
    }

    .slider__dom, .slider-container {
        margin: 0;
        height: 55vh;
    }
}

@media screen and (min-width:700px) and (max-width:1200px){

    .arrow {
        top: 45vh;
    }

    .slider__dom, .slider-container {
        height: 55vw;
    }
}